body {
  background-color:  
  rgb(234, 236, 241);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input{
  width:20rem;
  height: 80%;
}
#reply{
  position: relative;
  width:60vw;
  padding: 1rem;
  background-color: white;
  display: flex;
  border-radius: 10px;
  height: 40%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin: auto;
  font-size: normal;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
#list-of-replies{
  border-left: solid hsl(239, 57%, 85%);
  width: 80%;
  margin: auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  list-style: none;
}
button{
  color:hsl(238, 40%, 52%) ;
}
#comment{
  width:80%;
  padding: 2rem;
  background-color: white;
  display: flex;
  border-radius: 10px;
  margin: auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: normal;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  height: 40%;
}
#user-info{
  display: flex;
  flex-direction: row;
  width: 80%;
}
#username{
  color: black;
  font-weight: bold;
  font-size: 1.5rem;
  margin-left: 1rem;
}
#top-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
  margin-bottom: 1rem;
}
#main{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
#increase,#decrease{
  cursor: pointer;
  font-size: large;
}
#score{
  color: hsl(238, 40%, 52%);
  font-weight: bold;
  text-align: center;
}
#score-button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  align-items: center;
  background-color: rgb(234, 236, 241);
  width: 3rem;
  color: hsl(239, 57%, 85%);
  padding: 2rem;
  margin-right:4rem;
}
#comment-field{
 width: 100%;
 height: 100%;
 resize: none;
}
#profile-pic{
 justify-self: baseline
}
#active-reply{
  width:60vw;
  padding: 1rem;
  background-color: white;
  display: flex;
  border-radius: 5px;
  margin: auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: normal;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  height: 30vh;
  justify-content: space-between;
}
#active-comment{
  width:80vw;
  padding: 2rem;
  background-color: white;
  display: flex;
  border-radius: 5px;
  margin: auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: normal;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  height: 30vh;
  justify-content: space-between;
}
#active-edit{
  width: 100%;
  height: 100%;
}
#replyingTo{
  color: rgb(84, 87, 182);
}
.icon{
  margin-right: 1rem;
}
.function-button{
  font-weight: bold;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  margin-right: 0.5rem;
}
#reply-button,#edit-button{
  color:rgb(84, 87, 182);
}
#delete-button{
  color:#d11a2a ;
}
#functions{
  display: flex;
  flex: row;
}
#user-functions{
  display: flex;
  flex-direction: row;
}
img{
  width: 5rem;
  height: 5rem;
}
#comments-and-replies{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#identifier{
  background-color: rgb(84, 87, 182);
  color: white;
  padding: 0.7rem;
  border-radius: 5px;
}
#func-buttons{
  align-self: flex-end;
 
}
#content{
  width: 100%;
}
@media screen and (max-width:925px) {
  #comment{
    display: flex;
    flex-direction:column-reverse;
   }
  #score-button{
    display: flex;
    flex-direction: row;
    width: 7rem;
    justify-content: space-between;
    padding: 1rem;
  }
  #reply{
    display: flex;
    flex-direction:column-reverse;
    padding: 1rem;
   }
  img{
    width: 3rem;
    height: 3rem;
  }
  #main{
    align-items: flex-start;
    width: 100%;
  }
  #top-bar{
    justify-content: space-between;
    width: 100%;
    flex-direction:column;
    
    
  }
  #func-buttons{
    align-self: flex-end;
    justify-self: baseline;
  }
}